// GLOBAL

article,aside,details,figcaption,figure, footer,header,hgroup,main,menu,nav,section { display:block; }

.preload * {
	@include transition( none !important );
}

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { 
	// These handle the 300ms delay event on mobile clicks
	// http://stackoverflow.com/questions/12238587/eliminate-300ms-delay-on-click-events-in-mobile-safari
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

html, body { height:100%; min-height:100%; }
body { padding:0px; margin:0px; }
img { max-width:100%; height:auto; display:block; }
figure { margin:0; }
section { overflow:hidden; }

main, .main {
	@include clearfix;
}

fieldset { border: none; margin: auto; padding: 0; }

.wrapper { height: 100%; min-height: 100%; }

.show { display: block; }
.hide { display: none; }
.caps { text-transform: uppercase; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.table { display: table; margin: auto; }

.left { float: left; }
.right { float: right; }

.message {
	max-width: 500px;
	margin: 30px auto;
	background: $extraLightGray;
	padding: 4px;
	border-radius: 4px;
	font-size: 16px;
	text-align: center;

	&.success, p.success {
		color: white;
		background: $blue;
	}
	&.error, p.error {
		color: white;
		background: $red;
	}
}

.container {
	padding:0 20px;
	@include container(1200px);
	@include clearfix;
	.addMargin {
		margin:0 20px;
	}
	&.wide {
		@include container(1600px);
	}
}

.position-center {
	position:absolute;
	bottom:0px;
	top:0px;
	right:0px;
	left:0px;
	margin:auto;
}

//INLINE-BLOCK BEFORE ELEMENT https://css-tricks.com/centering-in-the-unknown/
/* The ghost, nudged to maintain perfect centering */
.centeredBlock:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}

.hideTablet {
	@include bp($desktopMedium ) { display:none !important; }
}

.hideMobile {
	@include bp($handsetLarge) { display:none !important; }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

//IMAGES//

.set-background {background-repeat: no-repeat; }

.background-cover { -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

.top-center {
	background-position: top center;
}

.center-center {
	background-position: center center;
}

.bottom-center {
	background-position: bottom center;
}

.left-center {
	background-position: left center;
}

.right-center {
	background-position: right center;
}
