.survey_tabnav {
	color: #000;
	border-bottom: 2px solid black;
	margin: 13px 0px 0px 0px;
	padding: 0px;
	z-index: 1;
	padding-left: 10px;
}

.survey_tabnav ul {
	margin: 0px;
	padding: 0px;
}

.survey_tabnav li {
	display: inline;
	overflow: hidden;
	list-style-type: none;
}

.survey_tabnav li span.disabled {
        color: #888888;
        background: #FAFAFA;
        border: 2px solid #DDDDDD;
        border-bottom: none;
        padding: 2px 5px 0px 5px;
        margin: 0;
        text-decoration: none;
}

.survey_tabnav a, survey_tabnav a.active {
	background: #263957;
	color: #FFFFFF;	
	font-weight: bold;
	border: 2px solid black;
	padding: 2px 5px 0px 5px;
	margin: 0;
	text-decoration: none; 
}

.survey_tabnav a.active {
	background: #FFFFFF;
	border-bottom: 3px solid #FFFFFF;
	color: #263957; 
}

.survey_tabnav a:hover {
	color: #FFFFFF;
	background: #CCCCCC; }

.survey_tabnav a.active:hover {
	background: #FFFFFF;
	color: #000000; }

.survey_tabnav_content {
	background: #FFFFFF;
	padding: 20px;
	border: 2px solid black;
	border-top: none;
	z-index: 2;
}
