// NAVIGATION

// NAVIGATION



.hamburger {

	display:none;
	position: absolute;
	width:40px;
	height:20px;
	top:25px; 
	right:50px;
	background:none;
	border:none;
	outline:none;
	cursor:pointer;
	padding:0;
	@include transition( all 0.2s ease-out );

	@include bp($small) {
		display: block;
	}	


	@include bp($tiny) {
		right:15px;
	}	

	

	div {
		height: 20px;
		width: 20px;
		margin:auto;
		position: relative;
		opacity: 0.7;
		@include transition( all 0.1s ease-out );
		@include bp( 1025px (min-height 1000px) ) {
			width:20px;
			height:20px;
			margin:25px;
		}
	}

	span {
		height:2px;
		position: absolute;
		background: white;
		left:0; right:0;
		@include transition( all 0.1s ease-out );
		
		&:first-of-type {
			top: 0;
		}
		
		&:last-of-type {
			bottom: 0;
		}
		
		&:nth-child(2) {
			top:50%;
			margin-top:-1px;
			background: none;
			&:before, &:after {
				content: "";
				background: white;
				height: 2px;
				width: 100%;
				position: absolute;
				left: 0;
				right: 0;
				@include transition( all 0.2s ease-out );
			}
		}	
	}

	.navOpen &, &.close {

		display:block;

		div {
			opacity: 1;
			@include transform( rotate(90deg) scale(1.5) );
		}

		span:nth-child(2) {
			background: none;
			&:before {
				opacity: 1;
				height: 1px;
				@include transform( rotate(-45deg) );
			}	
			&:after {
				opacity: 1;
				height: 1px;
				@include transform( rotate(45deg) );
			}
		}

		span:first-of-type {
			opacity: 0;
			top: 50%;
		}

		span:last-of-type {
			opacity: 0;
			top: 50%;
			bottom: auto;
		}

	}

}

