<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
  		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  		<title>211 Navigator - Help</title>
		<%= stylesheet_link_tag "help" %>
	</head>
	<body>
		<a id="disability_help" name="disability_help">
			<h2>Disability</h2>
			<hr>
			<p class="content">				
				For most of the programs, this means that the government has determined that you, 
				or anyone living there, have a physical or mental impairment that prevents substantial work, 
				and that will last at least 12 months.
			</p>
		</a>

		<a id="personal_income_help" name="personal_income_help">
			<h2>Personal Income</h2>
			<hr>			
			<p class="content">				
				Please enter your gross pay, not your take home pay. Gross pay is the 
				total before any deductions for taxes or other items. If your gross 
				pay changes a lot over the year, enter an estimate of what you make annually.
			</p>
		</a>	
		
		<a id="spouse_income_help" name="spouse_income_help">
			<h2>Spouse's Income</h2>
			<hr>			
			<p class="content">				
				Please enter your spouse's gross pay, not the take home pay. Gross pay is the 
				total before any deductions for taxes or other items. If the gross 
				pay changes a lot over the year, enter an estimate of what your spouse make annually.
			</p>
		</a>				
		
		<a id="other_income_help" name="other_income_help">
			<h2>Other Income</h2>
			<hr>			
			<p class="content">				
				Please include any income you may be getting from state and federal assistance 
				programs, interest on investments and/or bank accounts, pensions, self employment, rental 
				properties, etc.
			</p>
		</a>	
		
		<a id="training_help" name="training_help">
			<h2>Approved Training Activity</h2>
			<hr>			
			<p class="content">				
				An "approved training activity" is what you do while you are out of a job.
				It can be job-searching, going to school, or anything in between. It has to
				have been approved by the Connecticut's Department of Labor.				
			</p>
		</a>			
	</body>
</html>
