<div id="frm_screening">
	<h1 class="header">Benefits Survey</h1>
	<h2 class="subheader">Complete the following survey to learn whether you might be able to get help to pay for things like food, health insurance, and child care.
<br /><br />
Completing the survey is quick, and easy. All you have to do is either enter a number in a box, or pick an option from a pre-set list.
If you get stuck on a question, look for text with a dotted underline, and try rolling your mouse over it.</h2>
	<% remote_form_for(@survey, :update=>'frm_screening', :url=>{:controller => "surveys", :action => "create"}, :success => "survey_errors", :failure => "survey_errors", :html => {:onsubmit => "needToConfirm=false"} ) do |f| %>
	  <%= f.error_messages %>
		<% tabnav :survey do %> 
			<div id="survey_errors"> 	
				<% if flash[:surveyerrors] -%>
					<%= flash[:surveyerrors] %>
				<% end %>
			</div>	
		
			<div id="survey_questions">
				<%= render :partial => 'get_self_details', :locals => {:survey => @survey} %>
				<%= yield %>  
			</div>
		<% end %>
	<% end %>
</div>
